@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;700&display=swap');

.body {
    background: center / cover url(../img/background.png) no-repeat;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
}

.container {
    width: 1030px;
    margin: 0 auto;
}


/* Header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 46px;
    margin-bottom: 17px;
}

.header__logo {
    width: 160px;
    height: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
}

.header__logo__text__milan,
.header__logo__text__holidays {
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    transition: 0.5s;
}

.header__logo__text__milan {
    font-size: 29px;
}

.header__logo__text__holidays {
    font-size: 18px;
}

.header__logo:hover .header__logo__text__milan,
.header__logo:hover .header__logo__text__holidays {
    color: #F26522;
}

.header__logo__img__orange {
    opacity: 0;
    position: absolute;
}

.header__logo__img__white,
.header__logo__img__orange {
    transition: 0.5s;
}

.header__logo:hover .header__logo__img__orange {
    opacity: 1;
}

.header__logo:hover .header__logo__img__white {
    opacity: 0;
}

.header__contacts {
    font-size: 18px;    
    line-height: 1;
    width: 220px;
    text-align: right;
}

.header__contacts a {
    display: inline-block;
    transition: 0.5s;
}

.header__contacts a:hover {
    color: #F26522;
}

.header__contacts__email {
    margin-bottom: 19px;
}


/* Main */

.tours__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    gap: 37px 62px;
}

.tours__img {
    margin-bottom: 20px;
}

.tours__img::before,
.tours__img::after {
    content: '';
    height: 220px;
    width: 2px;
    background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    position: absolute;
}

.tours__img::before {
    left: -2px;
}

.tours__img::after {
    right: -2px;
}

.tours__img {
    height: 220px;
    width: 300px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.tours__img__shopping {
    background-image: url("../img/shopping.jpg");
}

.tours__img__sightseeing {
    background-image: url("../img/castle.jpg");
}

.tours__img__food-tours {
    background-image: url("../img/food.jpg");
}

.tours__img__night-life {
    background-image: url("../img/dj.jpg");
}

.tours__img__art {
    background-image: url("../img/museum.jpg");
}

.tours__img__walking-tours {
    background-image: url("../img/walking.jpg");
}

.tours__img__description {
    background-color: #F26522;
    height: 0px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    animation: 0.2s linear 1 forwards move-down;
    overflow: hidden;
}

.tours__img__description__from,
.tours__img__description__price,
.tours__img__description__details {
    animation: 0.1s ease-out 1 forwards transparent;
}

.tours__img__description__from {
    width: 100%;
    font-size: 10px;
    line-height: 1;
    align-self: flex-start;
    margin-top: 8px;
    margin-left: 16px;
}

.tours__img__description__price {
    width: 40%;
    font-size: 20px;
    line-height: 1;
    align-self: flex-end;
    margin-bottom: 9px;
    margin-left: 16px;
}

.tours__img__description__details {
    width: 40%;
    font-size: 14px;
    line-height: 1;
    text-align: right;
    align-self: flex-end;
    margin-bottom: 12px;
    margin-right: 38px;
}

.tours__img__description__details::after {
    content: '';
    background: url('../img/arrow.svg') center center/cover no-repeat;
    height: 10px;
    width: 5px;
    position: absolute;
    right: 14px;
    bottom: 14px;
  }

  .tours__title {
    transition: 0.5s;
    text-align: center;
  }

  @keyframes move-up {
    from {height: 0px;}
    to {height: 55px;}
  }

  @keyframes move-down {
    from {height: 55px;}
    to {height: 0px;}
  }

  @keyframes transparent {
    from {opacity: 1;}
    to {opacity: 0;}
  }

  @keyframes visible {
    from {opacity: 0;}
    to {opacity: 1;}
  }

  .tours__item:hover .tours__img__description {
    animation: 0.2s linear 1 forwards move-up;
  }

  .tours__item:hover .tours__title {
    color: #F26522;
  }

  .tours__item:hover .tours__img__description__from,
  .tours__item:hover .tours__img__description__price,
  .tours__item:hover .tours__img__description__details {
    animation: 0.1s ease-in 1 forwards visible;
  }


/* Footer */

.footer__copyright {
    font-size: 12px;
    line-height: 1;
    text-align: center;
    margin-bottom: 15px;
}

